name: Make translated novena images pack
on: [push]

jobs:
  make-translated-novena-images-pack:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7

    - name: Make images pack
      working-directory: posters-novena/
      run: |
        mkdir -p ~/.local/share/fonts
        cp asset/04b_03/*.TTF ~/.local/share/fonts
        fc-cache -f -v
        # grab inkscape 1.x
        sudo add-apt-repository ppa:inkscape.dev/stable
        sudo apt update
        sudo apt install inkscape
        python translate.py
    - name: upload images pack artifact
      uses: actions/upload-artifact@v2
      with:
        name: images pack
        path: posters-novena/dist/
